
#anki-ui-flashcard {
  padding: 25px 0;
  font-size: 14pt;
}

#anki-ui-flashcard-question,
#anki-ui-flashcard-answer {
  padding: 10px 0 10px 0;
  min-height: 200px;
}

#anki-ui-flashcard-answer {
  display: none;
}

#anki-ui-ease-buttons {
  display: none;
  text-align: center;
}

#anki-ui-show-answer {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #CCC;
}

#anki-ui-finished {
  font-size: 20pt;
  margin: 10px 0;
}

.anki-ui-count {
  color: blue;
  font-weight: bold;
}

#edit-learn-more,
#edit-review-early,
#edit-finish {
  display: block;
  width: 200px;
  text-align: center;
}

